@import url("https://fonts.googleapis.com/css2?family=Playwrite+FR+Trad:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

.logo-name {
  font-family: "Playwrite FR Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 40px;
}

.head-ing {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  transform: scale(-1, 1);
}

.head-ing-2 {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

textarea {
  resize: none;
  height: 320px;
  min-height: 100px;
  max-height: 100px;
}

.all-headings {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 770px) and (min-width: 300px) {
  .text-type {
    text-align: justify;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
